@font-face {
  font-family: 'Karla';
  src: url('assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
}

:root {
  --pale-green: hsl(148, 38%, 91%);
  --green: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --light-teal: hsl(186, 15%, 59%);
  --dark-teal: hsl(187, 24%, 22%);

  --ff-base: 'Karla', sans-serif;
}

@layer reset {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  body {
    /* accent-color is the styling for checkbox and radio button */
    accent-color: var(--green);
    font-size: 1rem;
    font-family: var(--ff-base);
    line-height: 1.6;
    background-color: var(--pale-green);
  }

  h1,
  h2,
  p {
    margin-block: 0;
  }

  /* if we don't have this, the text you type in the input will be taking from the browser default font value */
  input,
  button,
  textarea {
    font: inherit;
  }
}

@layer layout {
  .span-all {
    grid-column: 1 / -1;
  }
}

@layer form {
  .contact {
    background: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    max-inline-size: 700px;
    margin-inline: auto;
  }

  form {
    display: grid;
    gap: 1rem;

    @media (width > 500px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* Get rid of the agent styling of fieldset */
  fieldset {
    padding: 0;
    border: 0;
  }

  /* Make the .form-group grid layout will default stretch the <input> element */
  .form-group {
    display: grid;
  }

  /* Add the * next to the label when it is required
     has([required]) means has required attr in one of its child component
  */
  fieldset:has([required]) legend,
  /*.form-group:has([required]) label {*/
  /* * will not apply to the radio button  */
  .form-group:has(:not([type='radio'])[required]) label {
    display: flex;
    gap: 1ch;

    &::after {
      content: '*';
      color: var(--green);
    }
  }

  input,
  textarea {
    border: 1px solid var(--dark-teal);
    border-radius: 6px;
    padding: 0.75em 1.5em;

    &:focus-visible {
      outline-color: var(--green);
    }
  }
}
